<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/balit/IdeaProjects/TESTS">
        <classes>
            <class name="Lesson_14.ArithmeticOperationsTest">
                <methods>
                    <include name="testSum"/>
                    <include name="testMinus"/>
                    <include name="testMultiply"/>
                    <include name="testDivide"/>
                    <include name="testDivide_byZero"/>
                </methods>
            </class>
            <class name="Lesson_14.CompareNumbersTest">
                <methods>
                    <include name="testA_more_B_true"/>
                    <include name="testA_more_B_false"/>
                    <include name="testA_less_B_true"/>
                    <include name="testA_less_B_false"/>
                    <include name="testA_equal_B_true"/>
                    <include name="testA_equal_B_false"/>
                </methods>
            </class>
            <class name="Lesson_14.FactorialTest">
                <methods>
                    <include name="TestFactorialZero"/>
                    <include name="TestFactorialOne"/>
                    <include name="TestFactorial"/>
                    <include name="TestFactorialNegative"/>
                </methods>
            </class>
            <class name="Lesson_14.TriangleSquareTest">
                <methods>
                    <include name="testTriangleSquare"/>
                    <include name="testTriangleSquare_HightZero"/>
                    <include name="testTriangleSquare_SideAZero"/>
                </methods>
            </class>
            <class name="Lesson_14NG.ArithmeticOperationsT">
                <methods>
                    <include name="testSum"/>
                    <include name="testMinus"/>
                    <include name="testMultiply"/>
                    <include name="testDivide"/>
                    <include name="testDivideByZero"/>
                </methods>
            </class>
            <class name="Lesson_14NG.CompareNumbersTest">
                <methods>
                    <include name="testA_more_B_true"/>
                    <include name="testA_more_B_false"/>
                    <include name="testA_less_B_true"/>
                    <include name="testA_less_B_false"/>
                    <include name="testA_equal_B_true"/>
                    <include name="testA_equal_B_false"/>
                </methods>
            </class>
            <class name="Lesson_14NG.FactorialTest">
                <methods>
                    <include name="TestFactorialZero"/>
                    <include name="TestFactorialOne"/>
                    <include name="TestFactorial"/>
                    <include name="TestFactorialNegative"/>
                </methods>
            </class>
            <class name="Lesson_14NG.TriangleSquareTest">
                <methods>
                    <include name="testTriangleSquare"/>
                    <include name="testTriangleSquare_HightZero"/>
                    <include name="testTriangleSquare_SideAZero"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>